:root{
     
    --main-color: #d7c8aa;
    --dark-color: #3d405b;
    --light-color: #f8f9fa;
    --contrast-color: #f88863;
    --differential-color: #3b6790;
    --background-color: #fff8e3;
}

body {
    background-color: var(--background-color);
    color: #fff;
    font-family: Arial, sans-serif;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--dark-color);
    border-radius: 8px;
}

#header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: var(--main-color);
}

.error-messages {
    color: #ff4c4c;
    margin-bottom: 20px;
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
}

.caixa {
    margin-bottom: 20px;
}

.caixa_input {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
    border-color: var(--main-color);
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #942f2f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #444;
    text-align: left;
}

thead {
    background-color: var(--main-color);
    color: #fff;
}

tfoot {
    background-color: #444;
    color: #fff;
}

#valor_total {
    font-weight: bold;
}
