:root {
    --main-color: #d7c8aa;
    --dark-color: #3d405b;
    --light-color: #f8f9fa;
    --contrast-color: #f88863;
    --differential-color: #3b6790;
    --background-color: #fff8e3;
}

body {
    background-color: var(--differential-color); 
    color: #f0f0f0; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--main-color); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--dark-color);
}

#header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: var(--dark-color);
    margin: 0;
    font-size: 2rem;
}

.error-messages {
    background-color: #ac4147; 
    color: #fff; 
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.error-messages p {
    margin: 0;
}

.caixa {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.caixa_input input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--differential-color);
    border-radius: 8px;
    background-color: var(--dark-color); 
    color: #fff; 
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.caixa_input input:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 8px rgba(28, 19, 73, 0.5);
    outline: none;
}

button#salvar {
    background-color: var(--dark-color); 
    color: #fff; 
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
}

button#salvar:hover {
    background-color: var(--differential-color); 
    transform: scale(1.05);
}

button#salvar:active {
    background-color: var(--differential-color);
}

.caixa_input {
    display: flex;
    align-items: center;
    gap: 15px;  
}

.caixa_input label {
    margin-left: 8px;
    font-size: 16px;
    cursor: pointer;
}

input[type="radio"] {
    display: none; 
}

.caixa_input label {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    font-weight: bold;
    color: #555;
}

input[type="radio"]:checked + label {
    background-color: var(--dark-color);
    color: var(--main-color);
    border-color: var(--differential-color);
}

.caixa_input label:hover {
    background-color: #e0e0e0;
    border-color: #999;
    cursor: pointer;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: none; 
    opacity: 1; 
    transition: opacity 0.5s ease; 
}

.notification.visible {
    display: block; 
}

.notification.hidden {
    display: none; 
}

.notification.fade-out {
    opacity: 0;
}
.hidden {
    display: none;
}