:root {
    --main-color: #d7c8aa;
    --dark-color: #3d405b;
    --light-color: #f8f9fa;
    --contrast-color: #f88863;
    --differential-color: #3b6790;
    --background-color: #fff8e3;
}

body {
    background-color: var(--differential-color); 
    color: #f0f0f0; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--dark-color); 
    border: none;
    border-radius: 8px;
    color: #fff; 
    padding: 10px 30px; 
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
    margin: 20px;
}

button a {
    color: var(--dark-color); 
    text-decoration: none;
}

button:hover {
    background-color: var(--main-color);
    transform: scale(1.05);
    color: var(--main-color);
}

button:active {
    background-color: var(--dark-color); 
}

.tabela_fornecedor {
    width: 100%;
    max-width: 1200px; 
    border-collapse: collapse;
    margin: 20px 0;
    background-color: var(--main-color);
}
.tabela_fornecedor td{
    background-color: var(--main-color);
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
}

.tabela_fornecedor tr {
    transition: background-color 0.3s ease;
}

.tabela_fornecedor tr:hover {
    background-color: var(--differential-color); 
    border: 1px solid white; 
}

.tabela_fornecedor tr:hover td {
    color: var(--main-color);
    background-color: var(--dark-color);
    border: 1px solid var(--main-color);
    transition: border 0.3s ease, color 0.3s ease;
}

.tabela_fornecedor th, .tabela_fornecedor td {
    padding: 12px;
    text-align: left;
    border: 1px solid var(--dark-color);
}

.tabela_fornecedor th {
    background-color: var(--dark-color); 
    color: #fff; 
    position: relative;
    border: none;
}

.tabela_fornecedor th:first-child {
    border-top-left-radius: 10px;
}

.tabela_fornecedor th:last-child {
    border-top-right-radius: 10px;
}

.tabela_fornecedor tr:nth-child(even) {
    background-color: var(--dark-color); 
}

.tabela_fornecedor tr:nth-child(odd) {
    background-color: var(--dark-color); 
}

.tabela_fornecedor tr:hover {
    background-color: #666;
}

.principal {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: var(--main-color); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-container {
    margin: 20px;
    text-align: center;
}

.search-container input {
    width: 100%;
    max-width: 600px; 
    padding: 12px; 
    border: 2px solid var(--main-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--dark-color);
    color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-container input::placeholder {
    color: #f0f0f0;
    opacity: 0.7;
}

.hidden {
    display: none;
}
.caixa_input {
    display: flex;
    gap: 10px; 
    margin-bottom: 20px;
}

.caixa_input input[type="radio"] {
    display: none; 
}

.caixa_input label {
    padding: 10px 20px;
    border: 2px solid #333; 
    border-radius: 5px;
    background-color: var(--dark-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.caixa_input label:hover {
    background-color: var(--main-color);
    color: var(--dark-color);
}

.caixa_input input[type="radio"]:checked + label {
    background-color: #1b1e34;
    color: var(--main-color);
    border-color: var(--main-color); 
}
.botao {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--dark-color);
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
}

.botao:hover {
    background-color: var(--main-color);
    color: var(--dark-color);
}

.filtros-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.filtros-container .botao {
    margin: 0;
}
