:root {
    --main-color: #d7c8aa;
    --dark-color: #3d405b;
    --light-color: #f8f9fa;
    --contrast-color: #f88863;
    --differential-color: #3b6790;
    --background-color: #fff8e3;
}

body {
    background-color: var(--dark-color);
    color: var(--main-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--main-color);
    border: none;
    border-radius: 8px;
    color: var(--dark-color);
    padding: 10px 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
    margin: 20px;
}

button a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: var(--main-color);
    transform: scale(1.05);
}

button:active {
    background-color: var(--main-color)
}

.tabela_cliente {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 10px 0;
    z-index: 200;
}

.tabela_cliente th, .tabela_cliente td {
    padding: 6px;
    text-align: left;
    border: 1px solid var(--dark-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tabela_cliente td {
    background-color: var(--main-color);
    color: var(--dark-color);
}

.tabela_cliente th {
    background-color: var(--dark-color);
    color: var(--light-color);
    position: relative;
    border: none;
}

.tabela_cliente th:first-child {
    border-top-left-radius: 10px;
}

.tabela_cliente th:last-child {
    border-top-right-radius: 10px;
}

.tabela_cliente tr {
    transition: background-color 0.3s ease;
}

.tabela_cliente tr:hover {
    background-color: var(--differential-color);
}

.tabela_cliente tr:hover td {
    background-color: var(--dark-color);
    border: 1px solid var(--main-color);
    color: #fff;
}

.tabela_cliente td:hover {
    background-color: transparent;
}
 
.principal {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 78px;
}

.search-container {
    margin: 20px;
    text-align: center;
}

.search-container input {
    width: 100%;
    max-width: 600px;
    padding: 12px;
    border: 2px solid var(--light-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--dark-color);
    color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-container input::placeholder {
    color: #f0f0f0;
    opacity: 0.7;
}

.search-container input:focus {
    border-color: var(--differential-color);
    outline: none;
    background-color: var(--dark-color);
}

.botao {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--dark-color);
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
}

.botao:hover {
    background-color: var(--main-color);
    color: var(--dark-color);
}
