:root {
    --main-color: #d7c8aa;
    --dark-color: #3d405b;
    --light-color: #f8f9fa;
    --contrast-color: #f88863;
    --differential-color: #3b6790;
    --background-color: #fff8e3;
}

/* Estilizando o container de confirmação */
.confirm-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    text-align: center;
}

.confirm-container h1 {
    color: var(--dark-color);
    margin-bottom: 20px;
}

.confirm-container p {
    color: var(--dark-color);
    font-size: 18px;
    margin-bottom: 30px;
}

/* Estilizando o botão de confirmação */
.confirm-button {
    background-color: var(--dark-color);
    border: none;
    color: var(--text-color);
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-button:hover {
    background-color: var(--differential-color);
}

/* Estilizando o botão de cancelamento */
.cancel-button {
    display: inline-block;
    background-color: rgb(200, 53, 53);
    color: var(--text-color);
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: rgb(213, 164, 73);
}
