@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
    background-color: #333; 
    color: #f0f0f0; 
    font-family: "SUSE", sans-serif;   
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: #444;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
    max-width: 400px;
    width: 100%;
}

#header h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #f0f0f0; 
}

.caixa_logar {
    margin-bottom: 20px;
}

.caixa_logar label {
    font-size: 1rem;
    color: #f0f0f0; 
    display: block;
    margin-bottom: 5px;
}

.caixa_input {
    background-color: #555; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.caixa_input input {
    background: transparent;
    border: none;
    outline: none;
    color: #f0f0f0; 
    width: 100%;
    font-size: 1rem;
    padding-left: 5px;
}

.caixa_input input::placeholder {
    color: #ccc; 
}

#botao_logar {
    width: 100%;
    padding: 12px;
    background-color: #ac4147; 
    border: none;
    border-radius: 5px;
    color: #fff; 
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 20px;
}

#botao_logar:hover {
    background-color: #993d3b; 
    transform: scale(1.05);
}

#botao_logar:active {
    background-color: #842e2a; 
}

.caixa_input input:focus {
    border-bottom: 2px solid #ac4147;
    transition: border-bottom 0.3s ease;
}
