{% extends "tela.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/stylec.css' %}">
    <title>Lista Produtos</title>
{% endblock %}
<body>
    {% block 'dashboard' %}
    <div class="form_carrinho">
        <a href="{% url 'sacola' %}">
            <img src="{% static 'img/Carrinho.png' %}" alt="Carrinho">
        </a>
        <div id="texto_carrinho">
            {{ quantidade_total }} <!-- Exibe a quantidade total de itens -->
        </div>
    </div>
    <h1>Lista de Produtos</h1>
    <p>{{ mensagem }}</p>
    <div class="container">
        {% for produto in produtos %}
            <div class="menu">
                <div class="produto-info">
                    <h2 class="nome-produto">{{ produto.nome }}</h2>
                    <p class="descricao">{{ produto.descricao }}</p>
                </div>
                <div class="preco">
                    <p class="preco">R$ {{ produto.preco }}</p>
                </div>
                <div>
                    {% if produto.estoque > 0 %}
                        <p class="estoque estoque-positivo">Estoque: {{ produto.estoque }} unidades</p>
                    {% else %}
                        <p class="estoque estoque-zero">Sem estoque</p>
                    {% endif %}   
                </div>
                <a href="{% url 'addCarrinho' produto.id %}" class="btn-adicionar">Adicionar ao Carrinho</a>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/catalogojs.js' %}"></script>
    {% endblock %}
</body>
</html>
