{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesacola.css' %}">
    <title>Pedidos Cliente</title>
</head>
<body>
    <form method="POST" action=".">
        <a href="{% url 'tela'%}">Retornar</a>
        {% csrf_token %}
        <div class="container">
            {% for nr_pedido, pedidos in pedidos_dict.items %}
            <table class="table_nome">
                <tr>
                    <td><h1>Pedido #{{ nr_pedido }}</h1></td>
                </tr>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th>Total</th>
                </tr>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.nome }}</td>
                    <td>{{ pedido.quantidade }}</td>
                    <td>{{ pedido.valor_unitario }}</td>
                    <td>{{ pedido.valor_total }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Valor Total R$: {{pedidos|valor_geral|floatformat:2}}</td>
                    <br>
                </tr>
            </table>
            {% endfor %}
        </div>
    </form>
</body>
</html>
