:root {
    --main-color: #d7c8aa;
    --dark-color: #3d405b;
    --light-color: #f8f9fa;
    --contrast-color: #f88863;
    --differential-color: #3b6790;
    --background-color: #fff8e3;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dark-color);
    margin: 0;
    padding: 20px;
    color: var(--main-color);
    box-sizing: border-box;
}

.container-principal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.botoes-superiores {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.principal {
    width: 100%;
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color: var(--dark-color);
}

h2 {
    font-size: 24px;
    color: var(--dark-color);
    margin-bottom: 20px;
    text-align: center;
}

.botao {
    display: inline-block;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background-color: var(--main-color);
    transform: scale(1.05);
    color: var(--dark-color);
}

.tabela_categoria {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: 8px;
    overflow: hidden;
}

.tabela_categoria th, 
.tabela_categoria td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--dark-color);
}

.tabela_categoria th {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-weight: bold;
}

.tabela_categoria tr:hover {
    background-color: var(--dark-color);
    color: white;
}

.tabela_categoria tr:last-child td {
    border-bottom: none;
}

a img {
    transition: transform 0.3s ease;
}

a img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .botoes-superiores {
        flex-direction: column;
        gap: 10px;
    }
    
    .botao {
        width: 100%;
    }
    
    .tabela_categoria th, 
    .tabela_categoria td {
        padding: 8px 10px;
        font-size: 14px;
    }
}