:root{
     
    --main-color: #d7c8aa;
    --dark-color: #3d405b;
    --light-color: #f8f9fa;
    --contrast-color: #f88863;
    --differential-color: #3b6790;
    --background-color: #fff8e3;
}
body {
    font-family: Arial, sans-serif;
    background-color: #333; 
    color: #f4f4f4; 
    margin: 0;
    padding: 0;
}

#container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--main-color); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#header {
    text-align: center;
    margin-bottom: 20px;
}

#header h1 {
    color: var(--dark-color); 
}

.caixa {
    margin-bottom: 20px;
}

.caixa label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--dark-color); 
}

.caixa_input input,
.caixa_input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--differential-color);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--background-color); 
    color: var(--dark-color);
}

.caixa_input input:focus,
.caixa_input textarea:focus {
    border-color: var(--dark-color); 
}

#salvar {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--dark-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#salvar:hover {
    background-color: var(--differential-color); 
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: none; 
    opacity: 1; 
    transition: opacity 0.5s ease; 
}

.notification.visible {
    display: block; 
}

.notification.hidden {
    display: none; 
}

.notification.fade-out {
    opacity: 0;
}

.hidden {
    display: none;
}

.caixa_input select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--differential-color); 
    border-radius: 4px;
    background-color: var(--background-color); 
    color: var(--dark-color);
    transition: border-color 0.3s ease; 
}

.caixa_input select:focus {
    border-color: var(--dark-color); 
    outline: none; 
}

.caixa_input select:hover {
    border-color: var(--differential-color); 
}

.caixa_input select option {
    padding: 10px; 
    background-color: var(--dark-color); 
    color: #f4f4f4; 
}
