@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color:silver;
    align-items:center;
    justify-content: center;
}
#lista_cadastro{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 25px 35px;
    box-shadow: 7px 5px 10px #000000;
    border-radius: 13px;
    height: fit-content;
    gap: 15px;
}
textarea {
    resize: none;
    height: 100px;
}