{% extends "tela.html" %}
{% load static %}

{% block 'head' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listastyle.css' %}">
    <title>Tela de venda</title>
{% endblock %}
<body>
    {% block 'dashboard' %}
    <form action="." method="POST">
        <div class="pesquisa">
                {% csrf_token %}
                <div class="search-container">
                    <input type="text" id="search" placeholder="Buscar produto...">
                </div>
                <a href="{% url 'estoque' %}" class="botao">Adicionar Produto</a>
        </div>

        <div class="principal">
            <table class="tabela_produto">
                <thead>
                    <tr> <th>Produto</th> <th>Estoque</th> <th>Descrição</th> <th>Preço</th> <th>Editar</th> <th>Deletar</th></tr>
                </thead>
                <tbody class="corpo_tabela">
                    {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.estoque }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>{{ produto.preco }}</td>
                        <td><a href="{% url 'editar' produto.id %}"> <img width="30" height="30" src="{% static 'img/Editar.png' %}"></a></td>
                        <td><a href="{% url 'remover' produto.id %}"> <img width="30" height="30" src="{% static 'img/Deletar.png' %}"></a></td>
                    </tr>
                </tbody>
                {%endfor%}
            </table>
        </div>
        <script src="{% static 'js/listajs.js' %}"></script>
    </form>
    {%endblock%}
</body>
</html>