{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styletela.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% block 'head' %}{% endblock %}

    <title>{% block 'title' %}{% endblock %}</title>
  </head>
  <body>
    
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">NEWLIFE</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
          <li>
            <a href="{% url 'inicial' %}">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">Página inicial</span>
            </a>
            <span class="tooltip">Página inicial</span>
          </li>
          <li>
          <a href="{% url 'cliente' %}">
            <i class='bx bx-user' ></i>
            <span class="links_name">Clientes</span>
          </a>
          <span class="tooltip">Clientes</span>
        </li>
        <li>
          <li>
            <a href="{% url 'fornecedor' %}">
              <i class='bx bx-building' ></i>
              <span class="links_name">Fornecedor</span>
            </a>
            <span class="tooltip">Fornecedor</span>
          </li>
          <li>
            <a href="{% url 'lista' %}">
              <i class='bx bx-book' ></i>
              <span class="links_name">Estoque</span>
            </a>
            <span class="tooltip">Estoque</span>
          </li>
          <li>
          <a href="{% url 'catalogo' %}">
            <i class='bx bx-money-withdraw'></i>
            <span class="links_name">Vendas</span>
          </a>
          <span class="tooltip">Vendas</span>
        </li>
        <li>
          <a href="{% url 'compra' %}">
            <i class='bx bx-cart' ></i>
            <span class="links_name">Compras</span>
          </a>
          <span class="tooltip">Compras</span>
        </li>
        <li>
          <a href="{% url 'meuspedidos'%}">
            <i class='bx bx-badge-check ' ></i>
            <span class="links_name">Pedidos</span n>
          </a>
          <span class="tooltip">Pedidos</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-report'></i>
            <span class="links_name">Relatórios</span n>
          </a>
          <span class="tooltip">Relatórios</span>
        </li>
        <li class="profile">
          <a href="{% url 'logout' %}">
            <i class='bx bx-log-out' id="log_out"></i>
            <span class="links_name">Logout</span>
          </a>
          <span class="tooltip">Logout</span>
        </li>
        </ul>
      </div>
      
      <section class="home-section">
          {% block 'dashboard'%}
          {% endblock %}

      </section>

    {% block 'body' %}
    {% endblock %}
    <script src="{% static 'js/telajs.js' %}"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>